html, body, #form1, .container {
    width: 100%;
    position: relative;
}

.clear {
    clear: both;
}

.nav-md {
    padding-right: 0px !important;
}


#menuControl div, #menuControl ul, #menuControl li {
    float: none !important;
}

    #menuControl ul.level2 {
        position: static !important;
    }

.header {
    min-height: 100px;
    background: url('../images/header2.png') no-repeat center #e8e8e8;
    background-size: 100%;
    padding: 0;
}

.rowHeader {
    margin-right: 0px;
    margin-left: -10px;
}

.perfilUsuario {
    width: 45px;
    height: 45px;
    border-radius: 25px;
    margin-top: -12px;
    margin-bottom: 10px;
}

.nomeUsuario {
    max-height: 36px;
    float: left;
    text-overflow: ellipsis;
    overflow: hidden;
}

.userContent {
    margin-top: 20px;
}

    .userContent span,
    .userContent a {
        color: #013B1C;
    }

#header .container {
    border-radius: 5px;
}

.footer {
    background: #C5D8CC;
    width: 100%;
    height: 120px;
    padding: 2rem;
}

.logo {
    min-height: 100px;
    background: url('../images/logo.png') no-repeat left #C5D8CC;
    width: 50%;
    position: relative;
    float: left;
}

.logoSutec {
    min-height: 100px;
    background: url('../images/LogoSUTEC_Cor.png') no-repeat right #C5D8CC;
    width: 50%;
    position: relative;
    float: left;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}


.navbar-antt {
    margin-left: -20px;
    box-shadow: none;
}

.navbar-default .navbar-nav > li > a {
    color: #294487;
    font-size: 11px;
    font-weight: bold;
}

.navbar-nav > li > a {
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background: none;
}

.dropdown-menu > li > a {
    padding: 3px 20px;
    color: #294487;
}

.dropdown-menu .divider {
    margin: 0;
}

.dropdown-menu {
    padding: 0;
    font-size: 11px;
    box-shadow: none;
    border-radius: 0;
    border-color: #ccc;
}

    .dropdown-menu img.separator {
        height: 1px;
        width: 100%;
    }

    .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
        background: #668db1;
        color: #fff;
    }

.modal-open {
    overflow-y: auto;
}

.navbar-brand {
    float: none;
}

.navbar-collapse {
    padding: 0;
    overflow-x: visible;
    -webkit-overflow-scrolling: touch;
    border-top: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none;
}

.navbar-nav > li {
    margin-top: -3px;
}

.navbar-default .navbar-toggle {
    border: none;
}

.navbar-toggle {
    float: left;
    margin-left: 15px;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background: none;
}

.dados-sistema {
    text-align: right;
}

.titulo-sistema {
    color: #294487;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin-right: 20px;
    margin-top: 5px;
    display: block;
}

.data-hora {
    color: #039;
    font-size: 11px;
    margin-right: 20px;
    display: block;
}

.nome-user {
    display: block;
    font-size: 10px;
    margin-right: 19px;
    margin-top: 15px;
    text-align: right;
    width: 96%;
    margin-bottom: 35px;
}

.geral {
    background: #fff;
    min-height: 600px;
    border-radius: 5px;
    margin-top: 5px;
    padding: 25px;
}

.middle {
    border: 1px solid #BDD1DB;
    border-radius: 5px;
    min-height: 50px;
    width: 95%;
    margin: 0 auto;
}

.panel {
    border: 0;
    border-radius: 0;
}

.panel-body .panel {
    border: 1px solid black;
    border-radius: 0;
}

.panel-default .panel .panel-heading {
    border-bottom: 1px solid black !important;
}


.panel-title {
    font-weight: bold;
}

.panel-heading {
    background: #D8EADE !important;
    padding: 5px 5px 5px 5px;
}

.btn-antt {
    color: #FFFFFF;
    width: 110px;
}

.btn-Larger-antt {
    color: #FFFFFF;
    width: 200px;
}

.btn-Larger-Larger-antt {
    color: #FFFFFF;
    width: 310px;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default, .btn-Larger-antt, .btn-antt, .btn-Larger-Larger-antt {
    background: #E4E7CF;
    color: #FFFFFF;
}

.navbar {
    z-index: 10;
}

.col-xs-12 .navbar {
    margin-bottom: 0;
}

@media (max-width:767px) {
    #header .container {
        background: #e8e8e8;
        max-height: 140px;
    }

    .logo-principal {
        margin-top: 0;
    }

    .dados-sistema {
        text-align: center;
        margin-bottom: 10px;
    }

    .nav-responsive {
        background: #fff;
    }

    .nome-user {
        display: block;
        font-size: 10px;
        margin-right: 19px;
        margin-top: 0;
        text-align: center;
        margin-bottom: 0;
    }

    .titulo-sistema {
        display: block;
        margin-top: 0;
        font-size: 14px;
    }

    .area-logo img {
        margin: 0 auto;
    }

    .navbar-nav > li {
        margin-top: 0;
        background: #e6e6e6;
        width: 100%;
        margin-top: 1px;
    }

    .navbar-antt {
        width: 111%;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        background: #668db1;
        color: #fff;
    }

    .navbar-default .navbar-nav > li > a {
        font-size: 14px;
        padding: 10px;
        font-weight: normal;
    }

    .navbar-nav {
        margin: 0 -15px;
    }

    .geral {
        margin-top: 45px;
    }

    .col-xs-8 .btn-limpar {
        margin-top: 50px;
    }
}

@media (width:768px) {
    .nome-user {
        margin-bottom: 40px;
    }

    .logo-principal {
        margin-top: 0;
    }
}

/*IE8*/
/*.ie8 .header-antt{
	margin-top: -1px;
    min-height: 150px;
    width: 1011px;
    margin-left: 200px;
}
.ie8 .nome-sistema{
	margin-top: -100px;
	margin-right: 15px;
}
.ie8 #menu{
	margin-left: 70px;
}
.ie8 .item-portal{
	margin-top: -6px;
}
.ie8 .item-out{
	margin-top: -6px;
}

.ie8 .area-form input[type="text"] {
    float: left;
    width: 200px;
}
.ie8 .area-form .control-label{
	float: left;
}
.ie8 .area-form select{
	width: 200px;
	float: left;
}*/
/*IE8*/
.navbar {
    margin-bottom: 20px;
}

.system-name {
    color: #294487;
    font-weight: bold;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 60px;
    margin-top: 10px;
}

.date {
    color: #039;
    font-size: 11px;
    text-align: right;
    margin-right: 60px;
    margin-top: 10px;
}

.name-user {
    font-size: 12px;
    margin-right: 60px;
    margin-top: 20px;
}

.navbar-default {
    background: none;
    border: none;
}

    .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
        background: none;
    }

#menuDropdown {
    font-size: 10px;
    margin-bottom: -50px;
    margin-left: -125px;
    margin-top: 5px;
}

#menu .dropdown_2columns li:hover {
    color: #fff !important;
}

.nav-right ul li {
    list-style: none;
    float: left;
    font-size: 11px;
    margin-left: 15px;
}

.item-portal {
    margin-left: 98px !important;
    margin-top: 5px;
}

.item-out {
    margin-right: 67px;
    margin-top: 5px;
}

.bg-white {
    background: #fff;
}

.rounded {
    margin: 0 auto 10px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 1px 1px 1px #C7C7C7;
}

.padding-10 {
    padding: 10px;
}

.rounded-blue {
    background: none repeat scroll 0 0 #f9fafb;
    border: 1px solid #bdd1db;
    border-radius: 15px;
    margin: 30px 20px 20px;
    min-height: 40px;
}

    .rounded-blue h2 {
        font-size: 14px;
        color: #294487;
        margin: 30px 0 40px 0;
        padding: 0 0 10px 0;
        border-bottom: 1px solid #C5BFA7;
        font-family: Arial,Helvetica,sans-serif;
        font-weight: bold;
    }

.area-form {
    width: 900px;
    margin: 0 auto;
}

    .area-form input[type="text"] {
        border: 1px solid #C5BFA7;
        font: 11px Verdana;
        color: #666;
        height: 18px;
        border-radius: 0;
        background-image: none;
        box-shadow: none;
        padding: 0;
        margin-top: 5px;
    }

    .area-form select {
        border: 1px solid #C5BFA7;
        font: 11px verdana;
        color: #666;
        height: 20px;
        padding: 1px;
        border-radius: 0;
        background-image: none;
        box-shadow: none;
    }

    .area-form .control-label {
        font: 11px "Verdana",sans-serif,arial,helvetica !important;
        color: #3B3B3B;
    }

    .area-form .limpar {
        background-color: #E4E7CF;
        background-image: url(../images/limpar.png);
        background-repeat: no-repeat;
        background-position: 3px center;
        border: 1px solid #B3B6B0;
        font: 11px Verdana;
        color: #666;
        text-decoration: none;
        padding: 2px 8px 2px 22px;
        cursor: pointer;
        border-radius: 0;
        width: 100px;
    }

    .area-form .consultar {
        background-color: #E4E7CF;
        background-image: url(../images/consultar.png);
        background-repeat: no-repeat;
        background-position: 3px center;
        border: 1px solid #B3B6B0;
        font: 11px Verdana;
        color: #666;
        text-decoration: none;
        padding: 2px 8px 2px 22px;
        cursor: pointer;
        width: 100px;
        border-radius: 0;
        margin-left: 15px;
    }

    .area-form .form-control:focus {
        border-color: none !important;
        outline: 0px none;
        box-shadow: 0 !important;
    }

.area-table {
    overflow: auto;
}

    .area-table table {
        margin-top: 30px;
        margin-bottom: 10px;
        color: #333;
        border-color: #C5BFA7;
        border-width: 1px;
        border-style: solid;
        width: 100%;
        border-collapse: collapse;
        font-size: 12px;
        font-weight: normal;
    }

.area-table table th {
    background: url(../images/grid3-hrow.gif) repeat-x scroll 0px bottom #F9F9F9;
    padding: 6px 3px;
    text-align: left;
    border-bottom: 1px solid #CCC;
    border-top: 1px solid #CCC;
    color: #7A8180;
    font-size: 12px;
    font-weight: normal;
}

.area-table table tbody .alternate td {
    background-color: #EFF0E6;
}

.area-table table tbody td {
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 3px 3px 3px 5px;
    background-color: #FFF;
}

.popup-table {
    overflow: auto;
}

    .popup-table table {
        color: #333;
        border-color: #C5BFA7;
        border-width: 1px;
        border-style: solid;
        width: 100%;
        border-collapse: collapse;
        font-size: 12px;
        font-weight: normal;
    }

.popup-table table th {
    background: url(../images/grid3-hrow.gif) repeat-x scroll 0px bottom #F9F9F9;
    padding: 6px 3px;
    text-align: left;
    border-bottom: 1px solid #CCC;
    border-top: 1px solid #CCC;
    color: #7A8180;
    font-size: 12px;
    font-weight: normal;
}

.popup-table table tbody .alternate td {
    background-color: #EFF0E6;
}

.popup-table table tbody td {
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 3px 3px 3px 5px;
    background-color: #FFF;
}

.popup-table {
    overflow: auto;
}

    .popup-table table {
        color: #333;
        border-color: #C5BFA7;
        border-width: 1px;
        border-style: solid;
        width: 100%;
        border-collapse: collapse;
        font-size: 12px;
        font-weight: normal;
    }

        .popup-table table th {
            background: url(../images/grid3-hrow.gif) repeat-x scroll 0px bottom #F9F9F9;
            padding: 6px 3px;
            text-align: left;
            border-bottom: 1px solid #CCC;
            border-top: 1px solid #CCC;
            color: #7A8180;
            font-size: 12px;
            font-weight: normal;
        }

        .popup-table table tbody .alternate td {
            background-color: #EFF0E6;
        }

        .popup-table table tbody td {
            overflow: hidden;
            text-overflow: ellipsis;
            padding: 3px 3px 3px 5px;
            background-color: #FFF;
        }


.paginator {
    border: 0px;
    text-align: center;
    padding: 12px;
}

    .paginator span {
        float: left;
        margin-right: 0.5em;
        font-weight: bold;
    }

    .paginator select {
        float: left;
    }

    .paginator ul {
        padding: 0;
        margin: 0;
    }

    .paginator li {
        display: inline;
        padding: 4px;
        margin: 2px;
        border: solid 1px #dad7c8;
        background-color: #f7f7f7;
    }

        .paginator li a {
            text-decoration: none;
            cursor: hand;
        }

.panel-cadastro {
    margin-top: 20px;
}

.btn-limpar {
    margin-top: 25px;
}

.panel-cadastro .panel-heading {
    font-weight: bold;
}

.margin-right-10 {
    margin-right: 10px;
}

.logo-principal {
    margin-top: 10px;
}

.ui-datepicker table {
    font-size: .8em;
}


.modal-header {
    background-color: #c5d8cc;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.radioListHoriz input[type="radio"] {
    margin-right: 3px;
    margin-bottom: 7px;
}

.radioListHoriz label {
    margin-right: 13px;
}

.checkListHoriz input[type="checkbox"] {
    margin-right: 3px;
    margin-bottom: 7px;
}

.checkListHoriz label {
    margin-right: 13px;
}

.divFechada {
    height: 25px;
    padding-top: 4px;
    padding-left: 5px;
    background-color: #9fc3ac;
    font-weight: bold;
    color: #ffffff;
    border: 1px solid green;
    cursor: pointer;
}

.divAberta {
    height: 25px;
    padding-top: 4px;
    padding-left: 5px;
    background-color: #bbe5ca;
    font-weight: bold;
    color: #557847;
    border: 1px solid green;
    border-bottom: none;
    margin-bottom: -10px;
    cursor: pointer;
}

.divZerada {
    height: 25px;
    padding-top: 4px;
    padding-left: 5px;
    background-color: #d0d4d1;
    font-weight: bold;
    border: 1px solid green;
    cursor: no-drop;
}