/*GLOBAL*/

html {min-width: 100%; position: relative;}
/*body {background: #fff;}*/
*:focus{outline: 0 none!important; text-decoration: none!important;}

.no-margin {margin: 0 !important;}
.no-margin-top {margin-top: 0 !important;}
.no-margin-right {margin-right: 0 !important;}
.no-margin-bottom {margin-bottom: 0 !important;}
.no-margin-left {margin-left: 0 !important;}

.no-padding {padding: 0 !important;}
.no-padding-top {padding-top: 0 !important;}
.no-padding-right {padding-right: 0 !important;}
.no-padding-bottom {padding-bottom: 0 !important;}
.no-padding-left {padding-left: 0 !important;}

.no-border {border: 0 none !important}
.no-border-top {border-top: 0 none !important}
.no-border-right {border-right: 0 none !important}
.no-border-bottom {border-bottom: 0 none !important}
.no-border-left {border-left: 0 none !important}

.styled-list {list-style:disc;}
.unstyled-list {list-style:none;}
.inline-list li{float: left;}

.margin-top-5{margin-top: 5px !important;}
.margin-top-10 {margin-top: 10px !important;}
.margin-top-15 {margin-top: 15px !important;}
.margin-top-20 {margin-top: 20px !important;}
.margin-top-25 {margin-top: 25px !important;}
.margin-top-30 {margin-top: 30px !important;}
.margin-top-40 {margin-top: 40px !important;}
.margin-top-50 {margin-top: 50px !important;}

.margin-left-5{margin-left: 5px !important;}
.margin-left-10 {margin-left: 10px !important;}
.margin-left-15 {margin-left: 15px !important;}
.margin-left-20 {margin-left: 20px !important;}
.margin-left-30 {margin-left: 30px !important;}
.margin-left-50 {margin-left: 50px !important;}

.margin-right-10 {margin-right: 10px;}
.margin-right-15 {margin-right: 15px;}

.margin-bottom-20 {margin-bottom: 20px;}
.margin-bottom-30 {margin-bottom: 30px;}

.padding-bottom-30 {padding-bottom: 30px;}

.content {max-width:990px;}

.none {display: none;}
.hide {display: none !important;}
.pointer {cursor: pointer;}
.cursor-text {cursor: text;}
.cursor-default {cursor: default;}
.clear {clear: both;}
.inline {display: inline;}
/*label {font-weight: normal; margin-right: 5px; vertical-align: bottom; color: #013B1C;}*/
label {font-weight: bold; margin-right: 5px; vertical-align: bottom; color: #013B1C;}
h4 {color: #013B1C;}
h1 .titulo,
h1 .titulo:hover,
h2 .titulo,
h2 .titulo:hover,
h5 .versao,
h5 .versao:hover {color: #034623;}

.mce-tinymce.error,
.input-group-addon.error,
.chosen-single.error,
input.error {border: 1px solid #b10000 !important}
label.error {color: #b10000; font-size: .85em; font-style: italic; display: none !important;}
.chosen-container-single .chosen-single,
.chosen-container-single .chosen-single span {height: 30px !important;}


@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/OpenSans-Light-webfont.eot');
    src: url('../fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Light-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Light-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/OpenSans-Regular-webfont.eot');
    src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sanssemibold';
    src: url('../fonts/OpenSans-Semibold-webfont.eot');
    src: url('../fonts/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Semibold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Semibold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansbold';
    src: url('../fonts/OpenSans-Bold-webfont.eot');
    src: url('../fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Bold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansitalic';
    src: url('../fonts/OpenSans-Italic-webfont.eot');
    src: url('../fonts/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Italic-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Italic-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Italic-webfont.svg#open_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*.extraBold {font-family: "open_sansextrabold"; font-weight: normal;}
.bold {font-family: "open_sansbold"; font-weight: normal;}
.semiBold {font-family: "open_sanssemibold"; font-weight: normal;}
.light {font-family: "open_sanslight"; font-weight: normal;}
.italic {font-family: "open_sansitalic"; font-weight: normal;}*/

.extraBold {font-family: "open_sansextrabold"; font-weight: normal;}
.bold {font-family: "arial"; font-weight: bold;}
.semiBold {font-family: "open_sanssemibold"; font-weight: normal;}
.light {font-family: "open_sanslight"; font-weight: normal;}
.italic {font-family: "open_sansitalic"; font-weight: normal;}

.whiteColor {color: #FFF;}
.defaultColor {color: #676a6c;}
.lightColor {color: #abacac;}
.strongColor {color: #013B1C;}
.alertColor,
.alertColor:focus,
.alertColor:hover {color: #d54343;}

.width-15 {width: 15%;}
.width-20 {width: 20%;}
.width-30 {width: 30%;}
.width-50 {width: 50%;}
.full-width {width: 100% !important; display: inline-block;}

.relative {position: relative;}
.absolute {position: absolute;}

.btn:hover {background: #006c9b;}
.fade-effect {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.btn {background: #80a090; border-color: #698477;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}

.btn-primary.active, 
.btn-primary.focus, 
.btn-primary:active, 
.btn-primary:focus, 
.btn-primary:hover, 
.open > .dropdown-toggle.btn-primary {background: #698477; border-color: #698477;}

:-moz-placeholder {/*font-family: "open_sansitalic";*/  font-family: "arial";color: #c1c2c2;}
::-moz-placeholder {/*font-family: "open_sansitalic";*/ font-family: "arial";  /*color: #c1c2c2;*/ color: #3D594C;}
:-ms-input-placeholder {/*font-family: "open_sansitalic";*/ font-family: "arial"; color: #c1c2c2;}
::-webkit-input-placeholder {/*font-family: "open_sansitalic";*/ font-family: "arial"; color: #c1c2c2;}

.loadingAjax {width:100%; height:100%; position:fixed; left:0; top:0; background: url('../img/ico_loading.gif')no-repeat scroll center rgba(0, 0, 0, 0.5); z-index:1000; display:none;
    -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F000000,endColorstr=#7F000000);
}


/*MAIN*/
html {position: relative;min-height: 100%; display: inline-block; width: 100%; }
body {/*font:12px 'open_sansregular', sans-serif;*/ font:12px 'arial'; /*color: #676a6c;*/ /*color: #234988;*/ color: #3A3A3A; /*background: #fff;*/ display: inline-block; width: 100%;}  
.link,
a {color: #439bd5;}     
a:hover {text-decoration: none; color:#172938;}  

#main{padding-left: 22px; padding-right: 22px;}
#main.col-sm-10{padding-right: 15px;}

.ico-content {position: relative;}
.ico-content .glyphicon {position: absolute; top: 10px; left: 9px; border-right: 1px solid #CCC; padding-right: 9px; }
.ico-content .form-control {padding-left: 39px;}

.btn-padrao {background: #f6f6f6; border:1px solid #ccc; color: #333; border-radius:2px; font-size: 1.08em; padding: 5px 9px 4px; margin-left: 5px; line-height: 19px;}
.btn-padrao.tiny {padding: 3px 9px;}
.btn-padrao:hover {background: #e6e6e6;}
.btn-padrao.mini-btn { font-size: 1em; padding: 5px 7px 4px;}

.btn-destaque {background: #005e9d; border:1px solid #005e9d; color: #FFF; border-radius:2px; font-size: 1.08em; padding: 5px 9px 4px; margin-left: 5px; line-height: 19px;}
.btn-destaque:hover {background: #014d80; color: #FFF;}

h2 {font-size: 1.5em;}

.mce-container .maxChar { color: #b10000; display: block; margin: 0 10px 10px; display: none;}

.btn-primary {height: 32px;}

.contentBreadcrumb {background: #d8eade; /*height: 30px;*/ margin-bottom: 25px; font-size: .75em; text-transform:uppercase; margin-top: 23px; padding-right: 60px; padding-left: 30px}
.contentBreadcrumb > span {margin-top: 8px; margin-right: 5px;}
.breadcrumb {background: #d8eade; display: inline-block; padding-left: 0; margin-bottom: 0}
.breadcrumb a:hover {text-decoration: underline; color: #2c67cd;}
.breadcrumb > li + li:before {content: "> ";}

.index.contentBreadcrumb {font-size: .75em; text-transform:uppercase; margin-top: 23px; padding-right: 20px;}
.index.contentBreadcrumb > span {margin-top: 8px; margin-right: 5px;}
.index.breadcrumb {background: #FFF; margin-bottom: 10px; display: inline-block; padding-left: 0;}
.index.breadcrumb a:hover {text-decoration: underline; color: #2c67cd;}
.index.breadcrumb > li + li:before {content: "> ";}

/*FORM*/
.panel-padrao {border-color: #ebeaea; border-top-width:3px; border-radius:0; box-shadow: 0 0 0 0; border-bottom:0 none; }
.panel-padrao .panel-heading {background: #d8eade; border-bottom: 1px solid #ebeaea;}
.panel-padrao .panel-heading.active .glyphicon:before{content:"\e259"}
.panel-padrao .panel-heading .glyphicon {color: #9a9a9a;}
.panel-padrao .panel-body {border-bottom: 1px solid #ebeaea }
.panel-padrao .nav-tabs > li.active > a {background: #fff;}
.tabLista .nav-tabs > li.active > a,
.tabLista .nav-tabs > li.active > a:focus,
.tabLista .nav-tabs > li.active > a:hover {border-radius: 0 0 0 0; background: #f6f6f6;}

.panel-padrao .panel-group .panel-title a {padding:10px 15px;}
.panel-padrao .panel-group .panel-heading{border-radius:4px}
.panel-padrao .panel-group .panel-heading,
.panel-padrao .panel-group .panel-body {border: 0 none;}

.topForm h2{margin-top: 4px;}
.topForm #busca{width: 240px;}
.form-control {/*height: 30px;*/ height: 32px; border-radius: 0; font-size: 1em; padding-left: 3px; padding-right: 3px;}
.form-control.hasDatepicker {min-width: 75px}
.dateContent {width: 12%; /*margin-right: 5px;*/}
.ui-datepicker {z-index: 1060 !important;}

.input-group-addon {padding: 0 8px; border-radius:0;}
.input-group-addon .glyphicon {color: #828282;}
.input-group-addon.btn-only {width: auto; border-left: 1px solid #ccc; height: 30px; float: left; margin-left: 8px; padding-top: 6px;}

.modal-body {min-height: 100px}
.removeContent .glyphicon,
.plusContent .glyphicon {color: #a3a3a3; font-size: 1.4em;}
.removeContent:hover .glyphicon {color: #c40505}
.plusContent:hover .glyphicon {color: #005e9d}
.inlineLabel {margin-bottom: 2px;}
textarea {display: none;}

#cadastrarRequerimento .descricao {max-width: 100%;}
.processos table td,
.minhasTarefas table td,
.alterarSenha table td,
#cadastrarRequerimento table td, 
#cadastrarRequerimento .radio label {color: #585757;}

.alterarSenha .modal-header,
.processos .modal-header,
.minhasTarefas .modal-header {background-color: #c5d8cc; border-top-left-radius: 6px; border-top-right-radius: 6px;}

.minhasTarefas span, 
.processos span {color: #013B1C; font-size: 1.6em;}

/*TELA DE BOAS VINDAS*/
.grafico {border: 1px solid #ccc; height: 340px; list-style: none; position: relative;}

/*PAGINACAO*/
/*.paginacao{margin: 50px 0 20px; text-align: right; display: inline-block; width: 100%;}
.paginacao li{display: inline-block; margin-right: 10px;}
.paginacao button{border:1px solid #c2c2c2; background: #FFF; border-radius:3px; min-height:25px; min-width:25px}
.paginacao button:hover{background: #eee;}
.paginacao .link,
.paginacao .active button{background: none; border-color: transparent; text-transform: uppercase; border-radius: 0;}
.paginacao .active button{font-weight: bold;}
.paginacao .link:hover{background: none;}*/

/*TABELA*/
.table-responsive {background: none repeat scroll 0 0 #fff; border: 1px solid #ebeaea; border-top-width:3px; padding: 10px; }
.table-padrao .selected td {background: #e6f0f5 !important;} 
.table-padrao > tbody > tr > th {border-top: 0 none; padding-bottom: 5px; padding-top: 0; font-weight: normal;} 
.table-padrao > tbody > tr > th.bold {min-width:120px } 
.table-padrao > tbody > tr > th:first-child,
.table-padrao > tbody > tr > td:first-child{text-align: center;}
.table-padrao > tbody > tr:nth-child(even) > td {background: #f9f9f9;}
.table-padrao .divideItem {color: #ddd; margin: 0 5px;}
.table.table-padrao .text-muted,
.table.table-padrao a {vertical-align: middle;}
.table.table-padrao .processando_true a:hover {color: #777;}


/*GENTELELLA - */
body .container.body .right_col {background: #fff;} 
h3 {font-size: 15px; padding-top: 4px;}


.input-group-btn .btn-primary {height: 30px; padding-top: 5px}

/*.contentBreadcrumb.large {padding-left: 0}*/
.contentBreadcrumb.large:after,
.contentBreadcrumb.large:before {border:0 none;}
.contentBreadcrumb:after,
.contentBreadcrumb:before {content: " "; display: inline-block; vertical-align: middle; width: 0; height: 0; border: 1px solid #d8eade; position: absolute; border-width: 28px 0 0 17px; border-top-color: #FFF;}

.contentBreadcrumb:after {right: 10px; }
.contentBreadcrumb:before {left: 10px; border-color:#FFF; border-top-color: #d8eade; }

.container.body{display: inline-block;}
.left_col {background: #F4F4F4;}
.dashboard_graph {border: 1px solid #6D6D6D; padding: 0px 10px;}
.dashboard_graph .x_title {padding: 5px 0px 7px;}
.x_title {border-bottom: 1px solid #6D6D6D; background: #D8EADE;}
.form-control {background: #F4F4F4;}
.nav-md ul.nav.child_menu li::after {display: none; border-left: 0px;}
.nav-md ul.nav.child_menu li::before {display: none;}
.nav-md .container.body .col-md-3.left_col {display: block;}
.nav.child_menu > li > a {color: #4C4C4C;}
.nav.child_menu {background: #ECECEC;}
.nav.side-menu > li > a {margin-bottom: 0px;}
.nav.side-menu > li.active, 
.nav.side-menu > li.current-page {border-right: 0px;}
.nav.side-menu > li.active > a {background: #80A090;}
.nav.child_menu li {padding-left: 20px;}
.dashboard_graph .x_title span {font-weight: bold; color: #4C4C4C; font-size: 1.2em} 
.menu_section > ul {margin-top: 0px;}
.menu_section > ul {background: #80A090;}
.nav_menu {margin-bottom: 25px;}
.nav_menu {margin-bottom: 0px;}
.main_container {position: relative;}
.nav-md .container.body .col-md-3.left_col {top:0; bottom:0;}
.navbar-toggle {color: #fff;}
.navbar-header {background: #80A090;}
.titleForm {background: #d8eade; padding-top: 10px; padding-bottom: 10px; margin-bottom: 20px; font-size: 1.6em;}
.titleForm span {padding-left: 10px;}
.btn,
.button {margin-right: 0px;}
.dashboard_graph.barraTarefasProcessos {background:#F4F4F4; border: #F4F4F4; padding-top: 15px; padding-bottom: 15px;}
.dashboard_graph.barraTarefasProcessos button {margin-bottom: 0px; background:#F4F4F4; color:#80A090; border: 1px solid #80A090;}
.dashboard_graph.barraTarefasProcessos button span {color: #80A090;}
/*.modal-dialog.minhasTarefas {width: 800px;}*/
.btn.minhasTarefas {background: #FFF; border: 1px solid #80A090; color: #80A090;}
.tarefas,
.descricaoProcessos {border: 1px solid #80A090; padding:10px;}
.tarefas li,
.descricaoProcessos {list-style: none;}
.descricaoTarefasNovas {border-left: 8px solid #006600;}
.descricaoTarefasAtrasadas {border-left: 8px solid #ff0000;}
.green {color: #006600 !important;}
.red {color: #ff0000 !important;}

.border-box {border-right: 1px solid #CCC}

footer {background: #C5D8CC; margin-left:0;}


@media (max-width: 1050px) {
    
    .clear-form {display: inline-block; width: 100%;}
    .dateContent {margin-left: 0 !important;}
}
@media (max-width: 768px) {
    .topForm .form-control{width: auto; float: left;}
    .topForm #busca{width: 100%;}

    .sm-none {display: none;}

    .sm-full,
    .width-15,
    .width-20,
    .width-50 {width:100%;}
    .sm-half {width: 50%;}

    .sm-margin-top-10 {margin-top: 10px;}
    .sm-margin-top-15 {margin-top: 15px;}
    .sm-margin-top-30 {margin-top: 30px;}
    .sm-no-margin {margin: 0;}
    .sm-no-margin-left {margin-left: 0;}
    
    .sm-no-padding {padding: 0;}
    .sm-no-padding-right {padding-right: 0;}

    .sm-left {float: left;}

    .sm-padding-left {padding-left: 10px;} 
    .sm-padding-right {padding-right: 10px;} 

    .dateContent{width: 50%; margin-bottom: 15px; margin-right: 0; float: left;}   
    .rrp {float: none !important; display: inline-block;} 

    #main {padding: 0 15px;}

    #cadastrarRequerimento .cadastrar {margin-left: 0px !important;}
  /*  #cadastrarRequerimento .alterarSenha {margin-bottom: 10px !important;}*/
    #cadastrarRequerimento .selecionarArquivo {margin-bottom: 10px;}
    #cadastrarRequerimento .openFile {margin-left: 15px !important;}

}

@media (max-width:550px) {
   .logoSutec {margin-top: 20px;}
} 

@media (min-width: 768px) {
    .sm-none {display: block !important;}
} 

@media (max-width: 767px) {
    #telaListagem .aplicar {margin-top: 15px !important;}
} 

@media (min-width: 320px ) and (max-width:823px) {
    #cadastrarRequerimento .adicionar {margin-top: 0px !important;}
} 












