﻿/* LOGIN */
html.loginHtml {background: url('../images/ImagemEstradas_01.png'); background-position: center center; background-repeat: no-repeat;  background-attachment: fixed; background-size: cover; padding-right:0px !important;}
body.loginBody{background: transparent none repeat scroll 0 0; bottom: 0; top: 0; min-height: 425px;}
.login {background:#c5d8cc; display:inline-block; text-align:center; padding:14px 0; width: 100%; border-radius:2px 2px 0 0;}
.content-login {max-width:420px; background:#fff; border-radius:2px; box-shadow:0 0 8px 1px #c2c2c2; position: absolute; left: 50%; top: 100%; -webkit-transform: translateY(-50%) translateX(-50%);
-moz-transform: translateY(-50%) translateX(-50%);
-ms-transform: translateY(-50%) translateX(-50%);
-o-transform: translateY(-50%) translateX(-50%);
transform: translateY(-50%) translateX(-50%);
}

.content-login a {color: #FFF;}
.content-login .glyphicon {color: #ccc; font-size: 1.25em;}
.content-login > div {padding: 54px 67px;}
.content-login .form-control {height: 39px;}
.recuperar-senha {border-top:1px solid #e1e1e1; display: inline-block; width: 100%; padding-top: 13px;}

#sistemasHeader{background: #80a090; padding: 5px 0;}

/* FOOTER*/
footer.loginFooter {position: fixed; bottom: 0; width: 100%; background-color: #80a090; height: 40px;}
footer .loginFooterP{margin: 5px 0; font-size:.98em; color: #fff;}

h1.tituloLogin,
h1.tituloLogin:hover,
h2.tituloLogin,
h2.tituloLogin:hover {color: #FFF;}

/*REGRAS SM*/
@media (max-width:768px) {
    #socialGroup li:first-child {margin-left: 0;}
    #formPesquisa {top: 10px;}
    #formPesquisa > div {padding: 0;}
    #servicosHeader{padding-bottom: 15px;}
}
/*REGRAS PHONES*/
@media (max-width:991px) {
    /*.acessibilidade ul {float: left;}*/
    #acessiblidade {width: 100%!important;}
    /*#acessiblidade li {margin-left: 0; width: 100%;}*/
}


/*REGRAS XS*/
@media (max-width: 767px) {
    .content-login {max-width: none;}
    .content-login > div {padding: 54px 15px}
}