﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site/MasterPage/Site.Master" AutoEventWireup="false"
    CodeBehind="Default.aspx.cs" Inherits="PGA.Presentation.Default" %>

<asp:Content ID="Content1" ContentPlaceHolderID="Head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="Corpo" runat="server">
    <div class="container geral">
        <div style="height: 200px;">&nbsp;</div>
        <div class="titulo bold" style="text-align: center; font-size: x-large; color: #e6e6e6;">
            Bem-vindo ao Sistema
            <br />
            Sistema de Gestão Estratégica e Anual - SAFIRA
        </div>
    </div>
</asp:Content>
